:host
{
	background-color: #444444;

	.header
	{
		padding: 0.5rem;
		background-color: #ffffff05;
		height: 3rem;
	}

	.content
	{
		padding-top: 1rem;
    }
    
    .footer
	{
		padding: 0.5rem;
	}
}