<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="md-form">
        <i class="fa fa-user prefix"></i>
        <input mdbInputDirective type="text" id="form2" class="form-control">
        <label for="form2">Type your domain account</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mx-auto">
        <div class="md-form">
          <i class="fa fa-lock prefix"></i>
          <input mdbInputDirective data-error="wrong password" [formControl]="passwordFormEx" data-success="valid password" minLength="10"
            maxLength="25" type="password" class="form-control" id="form10" name="password">
          <label for="form10">Type your password</label>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mx-auto">
      <button mdbBtn type="button" color="default" block="true" mdbWavesEffect>Login</button>
    </div>
  </div>
</div>