<ul id="navbar">
	<li><a><strong>Admins</strong></a>
		<ul>
			<li><a routerLink="/admins/profile" routerLinkActive="active">Profile</a></li>
			<li><a routerLink="/admins/accounts" routerLinkActive="active">Accounts</a></li>
		</ul>
	</li>
	<li><a routerLink="/servers" routerLinkActive="active"><strong>Servers</strong></a></li>
	<li><a><strong>Customer Service</strong></a>
		<ul>
			<li><a routerLink="/customerservice/user" routerLinkActive="active">User Viewer</a></li>
			<li><a routerLink="/customerservice/tools" routerLinkActive="active">User Tools</a></li>
		</ul>
	</li>
	<li><a><strong>Log</strong></a>
		<ul>
			<li><a>Function</a></li>
			<li><a>Daily Report</a></li>
		</ul>
	</li>
</ul>
<div id="container">
	<router-outlet></router-outlet>
</div>