<div class="container-fluid d-flex h-100 flex-column">
	<div class="row h-100">
		<div class="sidebar col scrollbar">
			<div class="row header">
				<div class="avatar"></div>
				<div>
					<div class="domain">Admin Domain</div>
					<div class="role">Administrator</div>
				</div>
			</div>
			<div class="row content w-100" role="tablist">
				<ul class="menu list-unstyled components">
					<li class="active">
						<a class="menu-header" href="#serverSubmenu" data-toggle="collapse" aria-expanded="true">Server Control</a>
						<ul class="collapse list-unstyled show" id="serverSubmenu">
							<li><a class="menu-item" href="#">Monitor</a></li>
						</ul>
					</li>
					<li class="">
						<a class="menu-header" href="#csSubmenu" data-toggle="collapse" aria-expanded="true">Customer Service</a>
						<ul class="collapse list-unstyled show" id="csSubmenu">
							<li><a class="menu-item" href="#">Player View</a></li>
							<li><a class="menu-item" href="#">Player Tools</a></li>
						</ul>
					</li>
					<li class="">
						<a class="menu-header" href="#logSubmenu" data-toggle="collapse" aria-expanded="true">Log</a>
						<ul class="collapse list-unstyled show" id="logSubmenu">
							<li><a class="menu-item"href="#">Report</a></li>
							<li><a class="menu-item"href="#">Search</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="row footer">footer</div>
		</div>
		<div class="main col scrollbar">
			<div class="row header">
				<h3>Page Title</h3>
			</div>
			<div class="row content">
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
				<div>data</div>
			</div>
		</div>
	</div>
</div>