<div data-role="accordion">
	<div class="frame">
		<div class="heading">Change Password</div>
		<div class="content">
			<div class="p-2">
				<div><label>Old Password<input [(ngModel)]="oldPass" type="password" placeholder="* * * *"></label></div>
				<div><label>New Password<input [(ngModel)]="newPass" type="password" placeholder="* * * *"></label></div>
				<div><button class="button alert" (click)="onChangePassword()">Update</button></div>
			</div>
		</div>
	</div>
	<div class="frame active">
		<div class="heading">Permissions</div>
		<div class="content">
			<div class="p-2">
				<app-admin-permissions [admin]="admin" [isReadonly]="true"></app-admin-permissions>
			</div>
		</div>
	</div>
</div>