<a (click)="onLogout()">logout</a>
<div *ngIf="admins">
	<span>Admins List</span>
	<li *ngFor="let admin of admins">
		<span (click)="onSelect(admin)">{{admin}}</span>
		<input type="button" value="x" (click)="onRemove(admin)">
	</li>
</div>
<div>
	<input [(ngModel)]="newAdmin" type="text" name="newDomain" id="newDomain">
	<input type="button" value="add admin" (click)="onAdd()">
</div>

<div *ngIf="selectAdmin">
	<!-- <app-admin-permissions [admin]="selectAdmin" [isReadonly]="false"></app-admin-permissions> -->
	<app-admin-profile [admin]="selectAdmin" [isReadonly]="false"></app-admin-profile>
</div>