ul
{
	border: 0px;
	color: white;
	padding-left: 1em;
	list-style: none;
}

li
{
	list-style: none;
}

body
{
	background-color: #333333;
}

.key
{
	display: inline;
	color: #aaaaaa;
	padding-right: 1em;
}

.key::after
{
	content: ":";

}

.number
{
	display: inline;
	font-weight: bold;
	color: deepskyblue;
}

.boolean
{
	display: inline;
	font-weight: bold;
	color: dodgerblue;
}

.string
{
	display: inline;
	font-weight: bold;
	color: chocolate;
}

.object
{

}

.array
{

}

.hide
{
	display: none;
}