<div *ngIf="isReadonly; else editBlock">
	<div *ngFor="let permission of admin.permissions | keyvalue">
		<label>{{permission.key}}</label>
	</div>
</div>
<ng-template #editBlock>
	<div *ngFor="let permission of admin.permissions | keyvalue">
		<input [(ngModel)]="permission.value" type="checkbox" data-role="checkbox"><label>{{permission.key}}</label>
	</div>
	<div>
		<input type="checkbox" data-role="checkbox" checked disabled>
		<label><input [(ngModel)]="newPermission" type="text" placeholder="add new permission"><button type="button" (click)="onAddPermission()">+</button></label>
	</div>
	<div>
		<button type="button">save</button>
	</div>
</ng-template>