/* You can add global styles to this file, and also import other style files */
body, html
{
	height: 100%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: whitesmoke;
}

* {
	padding: 0;
	margin: 0;
	line-height: 1.2rem;
	font-size: 1rem;
	
	box-sizing: border-box;
}

a, a:hover, a:focus
{
	text-decoration: none;
	color: inherit;
}

.scrollbar
{
	overflow: auto;
	
	&::-webkit-scrollbar
	{
		width: 14px;
	}

	&::-webkit-scrollbar-thumb
	{
		background-clip: content-box;
		border: 4px solid transparent;
		border-radius: 7px;
		color: #000000AA;
		transition: color 2s;
	
		&:hover
		{
			color: #666666;
		}
	}

	&::-webkit-scrollbar-button
	{
		width: 0;
		height: 0;
		display: none;
	}

	&::-webkit-scrollbar-corner
	{
		background-color: transparent;
	}
}